%li:first-child::before{
    position: absolute;
    display: inline-block;
    content: "";
    z-index: 1;
}
%input-a{
    background: #59ab36 url(../img/gradient-central.png) center top no-repeat;
    padding: 5px 10px 0 10px;
    height: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    line-height: 100%;
    display: inline-block;
    border-radius: 0 5px 0 0;
    vertical-align: bottom;
    border: none !important;
}

%input1{
    height: 50px;
    line-height: normal;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0 10px 0 0;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    background: #252122 url(../img/gradient-central.png) center top no-repeat;
    width: 392px;
    border-radius: 0 10px 0 0;
    padding: 0 80px 0 15px;
    border: none;
    transition: all .5s;
}


%foot-arrow{
    position: absolute;
    content: "";
    left: 0;
    top: 7px;
    width: 6px;
    height: 4px;
    display: inline-block;
}